{% extends "base.html" %}

{% block content %}
<table>
		{% for thread in threadsInfo %}

		{% set t = thread[0] %}
		{% set u = thread[1] %}

		<tr>
			<td>{{loop.index}}</td>
			<td>
				<a href="{{ t.link }}">{{ t.title }}</a>
			
				<small>
					Posted by:
					<a href="/user/{{ u.username }}">{{ u.username }}</a>
				</small>
				<small>
					<a href="/thread/{{ t.id }}">Comments</a>
				</small>
				</br>
				<small>{{ t.created_at }}</small>
			</td>
		</tr>
		{% endfor %}
</table>
{% endblock %}