{% extends "base.html" %}

{% block content %}

<table>
    <tr>
        <td>
            <a href="{{ thread.link }}">{{ thread.title }}</a>
            <br>
            <small>
                Subbmitted by <a href="/user/{{ user.username }}">{{ user.username }}</a>
            </small>
            {{ thread.created_at }}
        </td>
    </tr>
</table>

<form action="" method="POST">
    <div>
        <label for="comment">Comment:</label>
        <textarea name="comment"></textarea>
    </div>
    <br>
    <input type="submit" value="submit">
</form>

<div id="comments">
    {% for comment_user in comments %}
    {% set comment = comment_user[0] %}
    {% set user = comment_user[1] %}
    <div class="comment">
        {{ comment.content }}
        <br>
        <small>by {{ user.username }}</small>
        <hr>
    </div>
    {% endfor %}    
</div>
{% endblock %}